name: simple_ecommerce
description: A simple Flutter e-commerce app
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=2.19.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  
  # Firebase
  firebase_core: ^2.24.2
  firebase_auth: ^4.11.1
  cloud_firestore: ^4.15.0
  firebase_storage: ^11.2.2
  
  # Image handling
  image_picker: ^1.0.4
  cached_network_image: ^3.3.0
  
  # State management
  provider: ^6.0.5

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true